.toolbar {
  justify-content: space-between;
  align-items: center;
  background-color: #3b82f6;
  color: white;
  padding: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.logo img {
  width: 40px;
  margin-right: 10px;
}

.menu-button {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  cursor: pointer;
}

.menu-button .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}
